# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
*.tsbuildinfo
out-tsc
.output
.nitro
.wrangler

# Vite
.vite
.vite-temp

# Testing
coverage

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Environment
.env
.env.local
.env.*.local

# NX
.nx
tmp

vite.config.*.timestamp*
vitest.config.*.timestamp*